/* autotype */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
.text-js {
  opacity: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffe5ce;
  opacity: 0.9;
  max-width: 100%; 

}

#pepperdesc{
  color:white;
  position: relative;
  bottom: 10vh;
}


.cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  -webkit-animation: flash 0.5s none infinite alternate;
          animation: flash 0.5s none infinite alternate;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#autotype {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Special Elite', cursive;
  /* font-family: "Open Sans", sans-serif; */
}

#autotype {
  height: 100vh;
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  top:0;
  left:0;
}

.headline {
  margin: 20px;
  color: white;
  text-align: center;
  margin-bottom: 10vh;
  opacity: 1;
}
.headline #autotext {
  letter-spacing: 1.6px;
  font-weight: 500;
  font-size: 100px;
  /* padding-bottom: 100px; */
  z-index: 10;
  opacity: 1;
}

#gsbutton{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 8vh;
}
/* Get started button */
.gettingStarted {
  display:block;
  height: auto;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  position: relative;
}

.gettingStarted:hover {
  color: whitesmoke;
}

.gettingStarted:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
}

.gettingStarted:hover:before {
  top: 0;
}

.fade:before{
  content:"→";
  position:absolute;
  color:#383736;
  left: 88%;
  opacity: 0;
  transition: all 0.2s ease-in;
}

/* inkpot */
#loadink {
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #000;
  opacity:0.75;
 }
 

 
 .v1 {
   stroke-dasharray: 700 150;
   stroke-dashoffset: 2700;
   fill: url("#MyGradient");
   animation-name: draw, fill;
   animation-duration: 6s;
   animation-timing-function: ease-in-out;
   animation-direction:alternate;
   animation-iteration-count:infinite;
 }
 
 @keyframes draw {
   to {
     stroke-dashoffset: 0
   }
 }
 
 @keyframes fill {
   from { fill-opacity: 0; }
   to { fill-opacity: 1; }
 }


/* fallingLetters */
#fallingLetters {
  height: 35vh;
  background: rgba(0,0,0,0);
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  color: #eee;
  font-family: 'Open Sans', 'Roboto', 'Helvetica Neue', sans-serif;
  position: relative;
  top:0;
  left:0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main p {
  /* font-size: 1rem; */
  text-align: center;
  margin-top: 5vh;
  padding: 0 2rem;
  max-width: 30rem;
  line-height: 1.4;
}

main > div {
  position: absolute;
  top: 5vh;
  left: 0;
  text-transform: uppercase;
  -webkit-perspective: 300px;
          perspective: 300px;
  transition: opacity .7s ease-in;
  font-size: 3vh;
  font-weight: 1;
}
main > div.popped {
  opacity: 0;
}
main > div.popped > span {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
main > div.popped > span b {
  opacity: 0;
}
main > div.missed {
  opacity: 0;
}
main > div.missed > span {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
main > div > span {
  position: absolute;
  display: block;
  -webkit-animation: waver 2s infinite alternate ease-in-out;
          animation: waver 2s infinite alternate ease-in-out;
  -webkit-perspective: 300px;
          perspective: 300px;
}
main > div > span b {
  display: block;
  padding: 2.5vh;
  z-index: 0;
  transition: opacity .25s linear;
}

@-webkit-keyframes waver {
  100% {
    -webkit-transform: translate3d(6vw, 0, 0);
            transform: translate3d(6vw, 0, 0);
  }
}

@keyframes waver {
  100% {
    -webkit-transform: translate3d(6vw, 0, 0);
            transform: translate3d(6vw, 0, 0);
  }
}

/* Nav bar */

*,*:before,*:after {
	box-sizing: border-box;
}

:after {
	content: "";
}

/* section {
  position: relative;
  left: 100px;
} */

nav {
  float: left;
  display: block;
  position: fixed;
  top:30vh;
  left: 0;
  height:32vh;
  background: transparent;
  /* border: 1px solid black; */
}

nav ul {
	text-align: center;
}

nav ul li {
	position: relative;
  width: 3vw;;
  height:8vh;
  cursor: pointer;
  background: #fe9929;
  color: white;
	text-transform: uppercase;
  transition:all .4s ease-out;
  border: 1px solid white;
}

nav ul li:after {
	position: absolute;
	background: white;
	color: #fe9929;
	top:0;
	left: 3vw;;
  width: 3vw; 
  height: 100%;
  opacity:.5;
  transform: perspective(17vw) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s ease-out;
}

nav ul li:nth-child(1):after { 
	content: "हिन्दी";
	line-height: 8vh;
}
nav ul li:nth-child(2):after { 
	content: "தமிழ்";
	line-height: 8vh;
}
nav ul li:nth-child(3):after { 
	content: "ગુજરાતી";
	line-height: 8vh;
}
nav ul li:nth-child(4):after { 
	content: "বাংলা";
	line-height: 8vh;
}

nav ul li:hover {
	transform: translateX(-3vw);
}

nav ul li:hover:after {
  opacity: 1;
	transform: perspective(17vw) rotateY(0deg) scale(1) ;
}


nav ul li > div {
	display: inline-block;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background: transparent;
}

nav ul li div { position: relative; }

nav ul li div span{
  font-size: 3vh;
}



/* Carousel */

.testimonials {
  background-color: rgba(0,0,0,0);
  position: relative;
  padding-top: 35vh;
  max-width: 100vw;
}
.testimonials:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;
  background-color: rgba(0,0,0,0);
}

#customers-testimonials .item-details {
  background-color: #333333;
  color: #fff;
  padding: 20px 10px;
  text-align: left;
  height:8vh;
}
#customers-testimonials .item-details h5 {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 18px;
  padding-left: 7px;
}
#customers-testimonials .item-details h5 span {
  color: red;
  float: right;
  padding-right: 20px;
}
#customers-testimonials .item-details p {
  font-size: 14px;
  padding-left: 10px;
}
#customers-testimonials .item {
  text-align: center;
  margin-bottom: 80px;
}

.owl-carousel .owl-item img {
  max-height: 300px !important;
 }

.owl-carousel .owl-nav [class*='owl-'] {
  transition: all .3s ease;
}

.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  font-size: 20px;
  color: #fff;
  border: 2px solid #fff;;
  text-align: middle;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.owl-carousel .owl-prev {
  left: -70px;
  background: rgba(0,0,0,0);
}

.owl-carousel .owl-next {
  right: -70px;
  background-color: rgba(0,0,0,0);
}



/* Trail Lines */

.whole{
  background: rgba(0,0,0,0);
  width:100%;
  overflow:hidden;
}

#line{
  background: rgba(0,0,0,0);
	position:absolute;
	top:110%;
	left:9%;
  width: 70%;
   margin: -75px 0 0 -75px;
   }
#line1{
  background: rgba(0,0,0,0);
  position:absolute;
	top:110%;
	left:9%;
  width: 70%;
   margin: -75px 0 0 -75px;
}
#line2{
  background: rgba(0,0,0,0);
	position:absolute;
	top: 110%;
	left:9%;
  width: 70%;
  margin: -75px 0 0 -75px;
}

.spacer{
background:rgba(0,0,0,0);
}

#line , #line1 , #line2{
min-height:350%;
}

#img1{
margin-left:75%;
position:relative;
height:200px;
width:200px;
border-radius:100%;
z-index:5;
}
#img2{
margin-left:45%;
position:relative;
height:200px;
width:200px;
border-radius:100%;
}
#img3{
margin-left:10%;
position:relative;
height:200px;
width:200px;
border-radius:100%;
z-index:10;
}
#image{
min-width:100%;
}

/* line Elements */

/*
	Elements
*/
.spacer {
	text-align: center;
	min-height: 100px;
}
.spacer.s0 {
	min-height: 1px;
}
.spacer.s1 {
	min-height: 100px;
}
.spacer.s2 {
	min-height: 1px;
}
.spacer.s_viewport {
	min-width:100%;
}
.demo{
min-height:100%;
min-width:100%;
}

/* Trail ends */

@media screen and (max-width: 420px) {
  .headline {
    margin: 20px;
    margin-bottom: 30%;
    margin-left: 0.4em;
  }
  .headline h1 {
    letter-spacing: 1.4px;
    font-size:0.6em;
  }
  .gettingStarted {
    margin: 10px 7px;
    position: absolute;
    top: 65vh;
    left: 27.5vw;
  }
  .carousel__container {
    width: 90vw;
    right: -5vw;
  }
}

/* Top bar */



/*************************** DEFAULTS ********************************/

*{
	box-sizing: border-box;
}
#tabs{
  font-size: 1.25em;
  text-decoration: none;
}
	#tabs:hover{
    /* add this class to whichever li to focus*/
		border-bottom: 2px solid white;          /* adds underline to li*/
		margin-bottom: -12px;
    padding-bottom: 10.5px;
    text-decoration: none;
	}
/*************************************************************************************/
/************************************ NAV BAR ****************************************/
/*************************************************************************************/
.nav{
  font-family:'Open Sans', sans-serif;
}
a{
  text-decoration: none;
}
.nav ul,.navmobile ul{
	list-style: none;                 /* remove dots of li */
	margin: 0;
	padding: 0;
}
.nav li.navmobile li{
	display: inline-block;            /* to allign nav items horizontally */
}
.nav a,.navmobile a{
	color: white;
}


/***************************************************************************/

/***************************for fixed nav*********************/
.headertop{
  z-index:200;
	position: absolute;
	top: 0;
  width: 100%;
  text-decoration: none;
  
}


/************************** MEDIA QUERIES ************************************/

/************************** MOBILES ******************************************/

@media screen and (max-width: 480px){
/*******************************************************************************/
/*********************** hamburger menu for mobile******************************/
/*******************************************************************************/

	.hideme{                      /* hides the logo after certain scroll*/
		display: none;
	}
	.nav{
		display: none;
	}
	.toggleMenu{
		position: fixed;
		top: 0px;
		left: 0px;
		padding: 15px 20px 15px 15px;
		cursor: pointer;
		background: #662506;
		opacity: 1;
		transition: all 0.3s ease-in-out;
	}

	.sidemenu{
		position: fixed;
		top: 0px;
		width: 240px;
		margin-left: -250px;
		overflow: hidden;
		height: 100vh;
		background: #993404;  /* for opacity of side bar without affecting anything */
		opacity: 0.8;                    /* to see background image*/

		transition: all 0.3s ease-in-out;
	}

	.cross{
		position: absolute;
		top: 10px;
		right: 10px;

		cursor: pointer;
		opacity: 0.7;

		transition: all 0.3s ease-in-out;
	}
	.cross:hover{
		opacity: 1;
	}
	.mobilelogoinsidebar h1 {
		margin: 0;
	    font-weight: 700;
	    text-shadow: 3px 2px 0px #fff;
	    line-height: 0.87;
	}
	.mobilelogoinsidebar a{
		color: white;
	}
	.mobilelogoinsidebar{
		margin-top: 70px;
	}
	.mobilelogo{
		font-size: 2em;
		margin: 0;
	    font-weight: 700;
	    text-shadow: 3px 2px 0px #fff;
	    line-height: 0.87;
	    margin-top: 20px;
	    transition: all 10s ease-in-out;
	}
	.mobilelogo a{
		color: white;
	}
	.navmobile{
		width: 100vw;
	}
	.signup{
		font-size: 1.6rem;
		width: 200px;
		padding: 3px 0px;
		border: solid 1px white;
		color: white;
		text-align: center;
		margin:30px auto 20px auto;
		transition: all 0.3s ease-in-out;
	}
	.signup:hover{
		background-color: white;
		color: #111;
		transition: all 0.3s ease-in-out;
	}
	.signup a:hover{
		color: black;
	}
	.navmobile .navlistmobile{
		font-size: 1.4rem;
		margin:20px;
		display: block;
		width: 200px;
		margin-left:auto;
		margin-right: auto;
	}
	.navlistmobile li{
		padding: 12px 0px;
		margin-left: 10px;
		margin-right: 10px;
		color: #D8D8D8;
		border-bottom:solid 1px #D8D8D8;
		cursor: pointer;

		transition: all 0.3s ease-in-out;
	}

	.showmenu{
		margin-left: 0px;
	}

	.changeopacity{
		opacity: 0;
	}

}
/*************************mobile ham ends *******************************/
/***************************************************************************/


/******************************** TABLETS *******************************/

@media screen and (min-width: 481px) and (max-width: 768px){
	.navmobile{
		display: none;
	}
	.hideme{                      /* hides the logo after certain scroll*/
		display: none;
	}

	.page2content,.page3content{
		margin-top: 60px;          /* set margin top equal to header ka height*/
	}

	.navlist li{
		font-size: 1.13rem;
	}


	.logo{
		transition: all 0.3s ease-in-out;
		padding-bottom: 4%;
	}
	.navwrapper{
		transition: all 0.3s ease-in-out;
		padding-top:3rem;
	    padding-right: 1rem;
	    padding-bottom: 0.7rem;
	    padding-left: 1rem;
	}
	                          /******** for trans to black scrolling of nav ******/
	.navwrapper{
		background: transparent;
		padding-top:1rem;
		transition: all 0.3s ease-in-out;
	}

	.notonhomepage{             /* add this class when you want to shift to black nav*/
		background: rgba(0, 0, 0, 0.7);
		border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
		padding-top: 1.3rem;
	}

	.navlist li a{
		padding: 20%;
	}
	.navlist{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	
	.navlist li{
		flex-grow: 1;
	}

}

/******************************** DESKTOPS ******************************/
@media screen and (min-width:769px ){

	.navmobile{
		display: none;
	}

	.navwrapper{
		transition: all 0.8s ease-in-out;
		padding-top: 2.5rem;
    	padding-right: auto;
    	padding-bottom: 0.7rem;
      padding-left: auto;
      text-decoration: none;
      /* float:right; */
	}                                  /***** scrolling trans to black***********/
	.navwrapper{
		background: transparent;
		transition: all 0.8s ease-in-out;
	}

	.notonhomepage{             /* add this class when you want to shift to black nav*/
		background: #fe9929;
    border-bottom: 0.1px solid #fe9929;
    opacity: 0.2;
		padding-top: 1.2rem;
	}


	.nav{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
	}
	.logo{
		transition: all 0.8s ease-in-out;
		flex-basis: 20%;
	}	
	.navlist{
		flex-basis: 55%;
	}
	.navlist li{
		font-size: 1.3rem;
	}
	.navlist li a{
		padding: 25%;
	}
	.navlist{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	}
	.navlist li{
		flex-grow: 1;
	}
	
}

