/* inkpot */
svg {
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  /* display: block; */
  position: fixed;
  /* z-index:100; */
  background-color: #000;
 }
 
 path {
   stroke: white;
   stroke-width: 4;
 }
 
 .v1 {
   stroke-dasharray: 700 150;
   stroke-dashoffset: 2700;
   fill: url("#MyGradient");
   animation-name: draw;
   animation-duration: 6s;
   animation-timing-function: ease-in-out;
   animation-direction:alternate;
   animation-iteration-count:infinite;
 }
 
 @keyframes draw {
   to {
     stroke-dashoffset: 0
   }
 }
 
 @keyframes fill {
   from { fill-opacity: 0; }
   to { fill-opacity: 1; }
 }
/* fallingLetters */
#fallingLetters {
  height: 50vh;
  background: #252627;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  color: #eee;
  font-family: -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  font-family: monospace;
  font-size: 5vh;
  position: relative;
  /* z-index:10; */
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main p {
  font-size: 1rem;
  text-align: center;
  margin-top: 5vh;
  padding: 0 2rem;
  max-width: 30rem;
  line-height: 1.4;
}

header,
footer {
  height: 5vh;
  line-height: 5vh;
  font-size: 3vh;
  background: #aa6657;
  text-align: right;
  text-transform: uppercase;
  padding: 0 2.5vh;
}

footer {
  display: flex;
  justify-content: space-between;
}
footer ul {
  display: flex;
  flex-direction: row-reverse;
}
footer ul .misses {
  padding: .5vh;
  transition: all .225s ease-out;
}
footer ul .misses.missed {
  opacity: .4;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main > div {
  position: absolute;
  top: 5vh;
  left: 0;
  text-transform: uppercase;
  -webkit-perspective: 300px;
          perspective: 300px;
  transition: opacity .7s ease-in;
  font-size: 5vh;
}
main > div.popped {
  opacity: 0;
}
main > div.popped > span {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
main > div.popped > span b {
  opacity: 0;
}
main > div.missed {
  opacity: 0;
}
main > div.missed > span {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
main > div > span {
  position: absolute;
  display: block;
  -webkit-animation: waver 2s infinite alternate ease-in-out;
          animation: waver 2s infinite alternate ease-in-out;
  -webkit-perspective: 300px;
          perspective: 300px;
}
main > div > span b {
  display: block;
  padding: 2.5vh;
  transition: opacity .25s linear;
}

@-webkit-keyframes waver {
  100% {
    -webkit-transform: translate3d(6vw, 0, 0);
            transform: translate3d(6vw, 0, 0);
  }
}

@keyframes waver {
  100% {
    -webkit-transform: translate3d(6vw, 0, 0);
            transform: translate3d(6vw, 0, 0);
  }
}
#game-over {
  opacity: 0;
  pointer-events: none;
  transition: opacity .75s ease-out;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 5vh;
  right: 0;
  bottom: 5vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}
#game-over.indeed {
  opacity: 1;
  pointer-events: auto;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  border: 0.3rem solid #eee;
  color: #eee;
  font-size: 3vh;
  padding: 1.5vh 2vh;
  background: transparent;
  margin-top: 5vh;
  font-family: monospace;
}
button:hover {
  border-color: #aa6657;
}
