/* autotype */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
.text-js {
  opacity: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  -webkit-animation: flash 0.5s none infinite alternate;
          animation: flash 0.5s none infinite alternate;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#autotype {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#autotype {
  /* background: linear-gradient(135deg, #00C4FF, #9D1BB2); */
  background: linear-gradient(135deg, #bea41b,#f3d423,#cfb41d);
  height: 100vh;
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  top:0;
  left:0;
}

.headline {
  margin: 20px;
  color: white;
  font-size: 80px;
  text-align: center;
  margin-bottom: 9.5%;
}
.headline h1 {
  letter-spacing: 1.6px;
  font-weight: 375;
  /* padding-bottom: 100px; */
  z-index: 10;
}


/* inkpot */
svg {
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #000;
  opacity:0.75;
 }
 
 path {
   stroke: #F7D696;
   stroke-width: 4;
 }
 
 .v1 {
   stroke-dasharray: 700 150;
   stroke-dashoffset: 2700;
   fill: url("#MyGradient");
   animation-name: draw, fill;
   animation-duration: 6s;
   animation-timing-function: ease-in-out;
   animation-direction:alternate;
   animation-iteration-count:infinite;
 }
 
 @keyframes draw {
   to {
     stroke-dashoffset: 0
   }
 }
 
 @keyframes fill {
   from { fill-opacity: 0; }
   to { fill-opacity: 1; }
 }


/* fallingLetters */
#fallingLetters {
  height: 38vh;
  background: rgba(0,0,0,0);
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  color: #eee;
  font-family: 'Open Sans', 'Roboto', 'Helvetica Neue', sans-serif;
  position: relative;
  top:0;
  left:0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main p {
  font-size: 1rem;
  text-align: center;
  margin-top: 5vh;
  padding: 0 2rem;
  max-width: 30rem;
  line-height: 1.4;
}

main > div {
  position: absolute;
  top: 5vh;
  left: 0;
  text-transform: uppercase;
  -webkit-perspective: 300px;
          perspective: 300px;
  transition: opacity .7s ease-in;
  font-size: 4vh;
}
main > div.popped {
  opacity: 0;
}
main > div.popped > span {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
main > div.popped > span b {
  opacity: 0;
}
main > div.missed {
  opacity: 0;
}
main > div.missed > span {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
main > div > span {
  position: absolute;
  display: block;
  -webkit-animation: waver 2s infinite alternate ease-in-out;
          animation: waver 2s infinite alternate ease-in-out;
  -webkit-perspective: 300px;
          perspective: 300px;
}
main > div > span b {
  display: block;
  padding: 2.5vh;
  z-index: 0;
  transition: opacity .25s linear;
}

@-webkit-keyframes waver {
  100% {
    -webkit-transform: translate3d(6vw, 0, 0);
            transform: translate3d(6vw, 0, 0);
  }
}

@keyframes waver {
  100% {
    -webkit-transform: translate3d(6vw, 0, 0);
            transform: translate3d(6vw, 0, 0);
  }
}

/* Top bar */

#navmenu li{
  list-style:none;
  margin-left: 2vw;
  height:39px;
  padding:2px;
  width:40px;
}

#navmenu span{
  /* Container properties */
  width:0;
  left:38px;
  padding:0;
  position:absolute;
  overflow:hidden;

  /* Text properties */
  font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
  font-size:18px;
  font-weight:bold;
  letter-spacing:0.6px;
  white-space:nowrap;
  line-height:39px;

  /* CSS3 Transition: */
  -webkit-transition: 0.25s;

  /* Future proofing (these do not work yet): */
  -moz-transition: 0.25s;
  transition: 0.25s;
}

#navmenu a{
  /* The background sprite: */
  background-image:url('../img/navigation.jpg') no-repeat;
  background-color: #fff;

  height:39px;
  width:38px;
  display:block;
  position:relative;
}

/* General hover styles */

#navmenu a:hover span{ 
  width:auto; 
  padding:0 20px;
  overflow:visible; 
}

#navmenu a:hover{
  text-decoration:none;

  /* CSS outer glow with the box-shadow property */
  -moz-box-shadow:0 0 5px #9ddff5;
  -webkit-box-shadow:0 0 5px #9ddff5;
  box-shadow:0 0 5px #9ddff5;
}

/* Green Button */

#navmenu .Hindi { background-position:0 0;}
#navmenu .Hindi:hover { background-position:0 -39px;}
#navmenu .Hindi span{
    background-color:#7da315;
    color:#3d4f0c;
    text-shadow:1px 1px 0 #99bf31;
}

/* Blue Button */

#navmenu .Tamil { background-position:-38px 0;}
#navmenu .Tamil:hover { background-position:-38px -39px;}
#navmenu .Tamil span{
    background-color:#1e8bb4;
    color:#223a44;
    text-shadow:1px 1px 0 #44a8d0;
}

/* Orange Button */

#navmenu .Gujarati { background-position:-76px 0;}
#navmenu .Gujarati:hover { background-position:-76px -39px;}
#navmenu .Gujarati span{
    background-color:#c86c1f;
    color:#5a3517;
    text-shadow:1px 1px 0 #d28344;
}

/* Yellow Button */

#navmenu .Bangla { background-position:-114px 0;}
#navmenu .Bangla:hover{ background-position:-114px -39px;}
#navmenu .Bangla span{
    background-color:#d0a525;
    color:#604e18;
    text-shadow:1px 1px 0 #d8b54b;
}

/* Purple Button */

#navmenu .Urdu { background-position:-152px 0;}
#navmenu .Urdu:hover { background-position:-152px -39px;}
#navmenu .Urdu span{
    background-color:#af1e83;
    color:#460f35;
    text-shadow:1px 1px 0 #d244a6;
}

a, a:visited,a:active {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}

/* Get started button */
.gettingStarted {
  display:block;
  height: auto;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  position: absolute;
  top: 50vh;
  left: 45vw;
}

.gettingStarted:hover {
  color: whitesmoke;
}

.gettingStarted:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
}

.gettingStarted:hover:before {
  top: 0;
}

.fade:before{
  content:"→";
  position:absolute;
  color:#383736;
  left: 88%;
  opacity: 0;
  transition: all 0.2s ease-in;
}

/* Carousel */

.bigcontainer {
  position:relative;
  right:5vw;
  top:5vh;
  background-color: rgba(0,0,0,0);
  /* padding: 50px; */
}

.carousel__container {
  height: 40%;
  width: 60%;
  background-color:rgba(0,0,0,0);
  margin: 0;
  border: 0;
  position: relative;
  right: 13vw;
  overflow: hidden;
  display: block;
}
.carousel__slide {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-flow: row nowrap;
  justify-content: space-around;
  transition: 0.25s ease-in-out;
}
.carousel__slide--off-left, .carousel__slide--off-left-remove.carousel__slide--active-add {
  position: absolute;
  width: 100%;
  left: -100%;
  top: 0;
}
.carousel__slide--off-left.carousel__slide--active-add-active, .carousel__slide--off-left-remove.carousel__slide--active-add.carousel__slide--active-add-active {
  left: 0;
}
.carousel__slide--off-right, .carousel__slide--off-right-remove.carousel__slide--active-add {
  position: absolute;
  width: 100%;
  left: 100%;
  top: 0;
}
.carousel__slide--off-right.carousel__slide--active-add-active, .carousel__slide--off-right-remove.carousel__slide--active-add.carousel__slide--active-add-active {
  left: 0;
}
.carousel__slide--active {
  left: 0;
}
.carousel__item {
  background-color: rgba(0,0,0,0);
  height: 200px;
  width: 300px;
  border: 0;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.carousel__item:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.8);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.8);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.8);
  transition: all 200ms ease-in;
  transform: scale(1.8);
  margin-left: 20px;
  margin-right: 20px;
}
.carousel__itemL {
  background: rgba(0,0,0,0);
  height: 200px;
  width: 250px;
  border: 0;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
  transform-origin: left;
}
.carousel__itemL:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.8);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.8);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.8);
  transition: all 200ms ease-in;
  transform: scale(1.8);
  margin-left: 20px;
  margin-right: 20px;
}
.carousel__itemR {
  background: rgba(0,0,0,0);
  height: 200px;
  width: 250px;
  border: 0;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
  transform-origin: right;
}
.carousel__itemR:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.8);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.8);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.8);
  transition: all 200ms ease-in;
  transform: scale(1.8);
  margin-left: 20px;
  margin-right: 20px;
}

.company:hover {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.carousel__item:hover .company {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.carousel__item:hover #intext {
  visibility: visible;
  height: auto;
  width: auto;
  opacity: 1;
}

.carousel__item #intext {
  visibility: hidden;
  color: #000;
  flex: 1 1 auto;
  min-height: 100px;
  position: absolute;
  opacity: 0;
  padding-left: 10%;
  transition: all 1.1s ease-in-out, visibility 1.1s;
  will-change: transform;
  transform: translateY(100%);
}

.carousel__itemL:hover .company {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.carousel__itemL:hover #intext {
  visibility: visible;
  height: auto;
  width: auto;
  opacity: 1;
}

.carousel__itemL #intext {
  visibility: hidden;
  color: #000;
  flex: 1 1 auto;
  min-height: 100px;
  position: absolute;
  opacity: 0;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: all 1.1s ease-in-out, visibility 1.1s;
  will-change: transform;
  transform: translateY(100%);
}

.carousel__itemR:hover .company {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.carousel__itemR:hover #intext {
  visibility: visible;
  height: auto;
  width: auto;
  opacity: 1;
}

.carousel__itemR #intext {
  visibility: hidden;
  color: #000;
  flex: 1 1 auto;
  min-height: 100px;
  position: absolute;
  opacity: 0;
  padding-left: 10%;
  transition: all 1.1s ease-in-out, visibility 1.1s;
  will-change: transform;
  transform: translateY(100%);
}

.company {
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#leftButt {
  display: block;
  height: 50px;;
  width: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 50%;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

#rightButt {
  display: block;
  height: 50px;;
  width: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 50%;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}


/* Images for the slider */
#greenbasic {
  background-color: #fff;
}

#bizworld {
  background-size: cover;
  background-image: url("https://storage.googleapis.com/news-photo/1533284893_ouRI5v_BW-logo.jpg");
}

#bubbledog {
  background-image: url("http://eskipaper.com/images/images-4.jpg");
}
