$light: #eee;
$dark: #252627;
$bar: #aa6657;

body {
  height: 100vh;
  background: $dark;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  color: $light;
  font-family: -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  font-family: monospace;
  font-size: 5vh;
  position: relative;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  p {
    font-size: 1rem;
    text-align: center;
    margin-top: 5vh;
    padding: 0 2rem;
    max-width: 30rem;
    line-height: 1.4;
  }
}
header,
footer {
  height: 5vh;
  line-height: 5vh;
  font-size: 3vh;
  background: $bar;
  text-align: right;
  text-transform: uppercase;
  padding: 0 2.5vh;
}
footer {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    flex-direction: row-reverse;
    
    .misses {
      padding: .5vh;
      transition: all .225s ease-out;
      &.missed {
        opacity: .4;
        transform: rotate(-45deg);
      }
    }
  }
}

main > div {
  position: absolute;
  top: 5vh;
  left: 0;
  text-transform: uppercase;
  perspective: 300px;
  transition: opacity .7s ease-in;
  font-size: 5vh;
  
  &.popped {
    opacity: 0;
    > span {
      b {
        opacity: 0;
      }
      animation-play-state: paused;
    }
  }
  &.missed {
    opacity: 0;
    > span {
      //  transform: scaleY(0);
      animation-play-state: paused;
    }
  }
  
  > span {
    position: absolute;
    display: block;
    animation: waver 2s infinite alternate ease-in-out;
    perspective: 300px;
    b {
      display: block;
      padding: 2.5vh;
      transition: opacity .25s linear;
    }
  }
}

@keyframes waver {
  100% {
    transform: translate3d(6vw, 0, 0);
  }
}


#game-over {
  opacity: 0;
  pointer-events: none;
  transition: opacity .75s ease-out;
  background: rgba(0,0,0,.75);
  
  position: absolute;
  top: 5vh;
  right: 0;
  bottom: 5vh;
  left: 0;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  text-transform: uppercase;
  
  &.indeed {
    opacity: 1;
    pointer-events: auto;
  }
}
button {
  appearance: none;
  border-radius: 0;
  border: .3rem solid $light;
  color: $light;
  font-size: 3vh;
  padding: 1.5vh 2vh;
  background: transparent;
  margin-top: 5vh;
  font-family: monospace;
  
  &:hover {
    border-color: $bar;
  }
}


@import "compass/css3";

.titletext
{
  color: #111;
  font-size: 40px;
  padding: 5px;
}

.bigcontainer
{
  background-color:#2a2a2a;
  padding: 50px;
}

.carousel {
  &__container {
    height: 40%;
    background-color: #2a2a2a;
    margin: 0 auto;
    border: 0;
    position: relative;
    overflow: hidden;
    display: block;
  }
  
  &__slide {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-flow: row nowrap;
    justify-content: space-around;
    transition: 0.25s ease-in-out;
    
    &--off-left, &--off-left-remove.carousel__slide--active-add {
      position: absolute;
      width: 100%;
      left: -100%;
      top: 0;
      
      &.carousel__slide--active-add-active {
        left: 0;
      }
    }
    
    &--off-right, &--off-right-remove.carousel__slide--active-add {
      position: absolute;
      width: 100%;
      left: 100%;
      top: 0;
      
      &.carousel__slide--active-add-active {
        left: 0;
      }
    }
    
    &--active {
      left: 0;
      
    }
  }

  &__item {
    background: #2a2a2a;
    height: 300px;
    width:300px;
    border: 0;
    
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
    // transform-origin: left;
  }
  &__item:hover { 
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.6);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.8);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.8);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.8);
    transition: all 200ms ease-in;
    transform: scale(1.8);
    margin-left: 20px;
    margin-right: 20px;
  }
  &__itemL {
    background: #2a2a2a;
    height: 300px;
    width:300px;
    border: 0;
    
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
    transform-origin: left;
  }
  &__itemL:hover { 
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.6);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.8);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.8);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.8);
    transition: all 200ms ease-in;
    transform: scale(1.8);
    margin-left: 20px;
    margin-right: 20px;
  }
  &__itemR {
    background: #000;
    height: 300px;
    width:300px;
    border: 0;
    
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
    transform-origin: right;
  }
  &__itemR:hover { 
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.6);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.8);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.8);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.8);
    transition: all 200ms ease-in;
    transform: scale(1.8);
    margin-left: 20px;
    margin-right: 20px;
  }
}

.company:hover{
      -webkit-filter: blur(2px);
      filter: blur(2px);

}
.carousel__item:hover .company{
    -webkit-filter: blur(2px);
      filter: blur(2px);
  
}
.carousel__item:hover #intext {
 visibility: visible;
    height: auto;
    width: auto;
    opacity: 1;
    
}

.carousel__item #intext {
 visibility: hidden;
  color: #000;
  flex: 1 1 auto;
  min-height: 100px;
  position: absolute;
    // height: 0;
    // width: 0;
  // text-align:right;
    opacity: 0;
  padding-left: 10%;
  $speed: 1.1s;
    transition: all $speed ease-in-out,visibility $speed;
will-change: transform;
  transform: translateY(100%);   

}
.company{
     background-position: center;
    background-repeat: no-repeat;
    background-color: #111111;
    background-size: contain;
  position:absolute;top:0;left:0;right:0;bottom:0;
}

/* Images for the slider */
#greenbasic
{
  background-color:#fff;
}
#bizworld 
{
  background-image: url('https://storage.googleapis.com/news-photo/1533284893_ouRI5v_BW-logo.jpg');
}

#bubbledog 
{
  background-image: url('http://eskipaper.com/images/images-4.jpg');
}